# Configurações do Servidor
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=f2d5ac89a78ada9425315a3c9904086fdbb0b4a33c70ed56df434e8a90d9f954
JWT_EXPIRES_IN=7d

# Email (Configure com suas credenciais)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu-email@gmail.com
SMTP_PASS=sua-senha-de-app

# Frontend URL
FRONTEND_URL=http://localhost:5500

# Database
DB_PATH=./db/db.json
